<div id="form-meli">    
    <div class="form-meli-container">
        <mat-form-field>
            <input matInput placeholder="Nombre">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Seleccione lista de Precios">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Código de Flete">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Operación">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nuevo Usuario para plataforma del Integrador">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nueva Contraseña para plataforma del Integrador">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Ingrese IP Público o DNS">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nombre">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nombre">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nombre">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nombre">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nombre">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nombre">
        </mat-form-field>
    </div>    
</div>
